---
title: Blog
layout: base.njk
---

Here you can read all my blog posts: 
<ul>
{%- for blog in collections.blog  | reverse  -%}
  <li><a href="{{ blog.url }}">{{ blog.data.title }} - {{blog.date}}</a></li>
{%- endfor -%}
</ul>